.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.mywork-title{
    position: relative;
}

.mywork-title h1{
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 700;

}

.mywork-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    /* margin-bottom: 80px;  margin-bottom sert à décaler le bloc de 80px vers le bas */
    /* padding: 10px; Augmente l'espace intérieur */
}

.mywork-container img{
    box-sizing: border-box;
    width: 420px;
    height: 280px;
    transition: 0.25s;
    cursor: pointer;
}

.mywork-container img:hover{
    transform: scale(1.05);
    transition: 0.25s;
    border-radius: 10px;
    box-shadow: 0 0 50px #6600ff;
     
}
.mywork-showmore p{
    color: white;
    font-size: 24px;
    line-height: 40px;
    max-width: 300px;
}

.mywork-showmore{
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 30px 60px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 80px;
    cursor: pointer;
    transition: 0.25s;
}

.mywork-showmore:hover{
    gap: 30px;
    transition: 0.25s;
    transform: scale(1.05);
    border-radius: 10px;
    border-color: #6600ff;
    box-shadow: 0 0 25px #6600ff;
}